@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1653236549349') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rain:before {
  content: "\e604";
}

.icon-temp:before {
  content: "\e605";
}

.icon-wind:before {
  content: "\e606";
}

.icon-home:before {
  content: "\e607";
}

.icon-back:before {
  content: "\e608";
}

