body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, 
dl, dt, dd, ul, ol, li,
pre,
fieldset, lengend, button, input, textarea, 
th, td { 
    margin: 0;
    padding: 0;
}


address, cite, dfn, em, var { font-style: normal; }
ul, ol { list-style: none; }
a, a:hover, a:active, a:focus { text-decoration: none; }

q:before, q:after { content: ''; }
fieldset, img { border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border: none;
  height: 1px;
}

.page-container {
  max-width: 1125px;
  margin: 0 auto;
}